/*
Theme Name: Flatsome
Theme URI: http://flatsome.uxthemes.com/
Author: UX-Themes
Author URI: http://www.uxthemes.com/
Description: Flat Responsive WooCommerce theme
Version: 2.7.6
License:
License URI:
*/

/***************
All custom CSS should be added to Theme Options > Custom CSS
or in the style.css of a Child Theme.
***************/


li#menu-item-1418.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1418 a{
  font-family: 'HarabaraMaisBold-HarabaraMaisBold' !important;
  text-transform: lowercase !important;
  font-size: 1.2em !important;
  color: #e4701e !important;
}

.ux_logo img {
    display: block;
    height: 50px;
}

.arconix-faq-wrap {
  border-radius: 3px !important;
  background: none repeat scroll 0 0 #F1F2F3 !important;
  clear: both;
  border: none !important;
  margin: 10px 0;
  padding: 12px 12px !important;
  color: #7E8890 !important;
}

.arconix-faq-title {
  color: #E4701E !important;
}


.arconix-faq-wrap ol {
  margin-left: 30px;
}

.add-pay-info {
  padding: 25px 0px;
  display: inline-block;
  margin-right: 20px;
}

.add-pay-info a {
  color: #FFF;
  background-color: #0176BB;
  width: 232px;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 30px 0px;
}

.add-pay-info:hover > a {
  background-color: #006097;
  color: #fff;
  transition: all .2s;
}

.add-pay-info a:hover > i {
  color: #fff !important;
}

.add-pay-info .fa {
  margin-right: 15px;
  color: #FFF !important;
}

.homepage-feature {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  margin-top: 140px;
}

.homepage-form {
  display: inline-block;
  width: 28%;
}

.homepage-form h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px !important;
  width: 98%;
  margin-bottom: 25px !important;
  text-align: left;
}

.homepage-form .gform_button.button {
  background-color: inherit;
  border: 2px solid #fff;
  padding-top: 0.80em;
  padding-bottom: 0.90em;
  width: 100%;
  margin: 0;
}

.homepage-form .gform_button.button:hover {
  color: #000 !important;
  background-color: #FFF !important;
  box-shadow: none;
}


.homepage-form .gform_body .gfield label {
  display: none;
}

.homepage-form .gform_body input {
  background-color: transparent;
  border: 2px solid #FFF;
  width: 100% !important;
  color: #FFF;
  font-weight: bold;
}

.homepage-form .gform_body input::-webkit-input-placeholder {
  color: #FFF;
  font-weight: bold;
}

.homepage-form .gform_body input:focus {
  border-color: #FFF;
  background-color: rgba(0, 0, 0, 0.35);
  color: #FFF;
  font-weight: bold;
}

.page-id-588 a {
  target-new:tab;
}


@media only screen and (max-width: 500px) {
  .homepage-feature {
    width: 100% !important
  }

  .homepage-form {
    width: 76%;
  }
  .homepage-form h3 {
    font-size: 18px !important;
    margin-bottom: 0 !important;
  }

  .homepage-form .gform_body input {
    font-size: 2em !important;
    border-radius: 0px !important;
  }

  .homepage-form .gform_button.button {
    font-size: 2em !important;
    border-radius: 0px !important;
  }

  #banner_1180750466  {
    height: 700px!important;
  }
}


.modal {
  margin:auto;
  padding-top: 4%;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;

    width: 706px;

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content iframe {
  border-radius: 5px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sign-agr {
  display: inline-block;
}

.sign-agr button {
  border-radius: 4px;
  text-transform: none;
  padding: 11px 15px;
}

.sign-agr .fa  {
  margin-right: 10px;
}
