/*
Theme Name: flatsome child
Template: flatsome
Theme URI: http://flatsome.uxthemes.com/
Author: Manish Goyal
Author URI: http://devitechnosolutions.com/
Description: Flat Responsive WooCommerce theme
Version: 2.7.6
*/

/*************** 
All custom CSS should be added to Theme Options > Custom CSS 
or in the style.css of a Child Theme.
***************/
.affwp-tab-content{
 overflow-x: auto;
}
a.logoHref {
 display: block;
 width: 100%;
 margin: 0 auto;
 text-align: center;
}
#login input[type="text"], #login input[type="password"] {
 background: transparent!important;
 border: none!important;
 border-bottom: 1px solid rgba(255, 255, 255, 0.45)!important;
 border-right: 1px solid rgba(255, 255, 255, 0.45)!important;
 padding: 20px!important;
 padding-left: 40px!important;
 color: rgba(255, 255, 255, 0.72)!important;
}
#login label {
 color: white!important;
}
.login-username {
    position: relative;
}
.login-password {
    position: relative;
}
.usernameLogin {
    position: relative;
}
.passwordLogin {
    position: relative;
}
.iconInput{
    position: absolute!important;
    top: 15px!important;
    left: 15px!important;
    color: rgba(255, 255, 255, 0.45)!important;
}
input#submit {
 width: 100%;
 padding: 20px;
}
.login-remember {
    display: none;
}